.form {
  display: flex;
  flex-flow: column;
  flex-basis: 25rem;
  gap: 1.3rem;
  align-self: center;
  margin: 2rem auto 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  box-sizing: inherit;
}

.heading {
  font-family: system, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular',
    'San Francisco', Roboto, 'Segoe UI', 'Helvetica Neue', 'Lucida Grande',
    sans-serif;
  font-size: 2.25rem;
  color: #191e3b;
  margin-bottom: -0.4rem;
  font-weight: 500;
  line-height: 2.5rem;
}

.email {
  display: flex;
  margin-top: 1.2rem;
  flex-flow: column nowrap;
  gap: 0rem;
  padding-left: 1rem;
}

.email label {
  font-size: 0.75rem;
  font-weight: 700;
}

.email p {
  margin: 0;
  font-size: 1rem;
  font-weight: lighter;
}

.password {
  height: 2.7rem;
  background-color: white;
  border-radius: 10px;
  color: black;
  padding-left: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.62);
}

.action {
  height: 3rem;
  background-color: #0d4eaf;
  border: none;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 0.5rem;
  border-radius: 25px;
}

.action:hover {
  color: #0d4eaf;
  background-color: white;
  border: 2px solid #0d4eaf;
}
