.displayImage {
  position: relative;
  width: 100vw;
  height: 20rem;
  -webkit-tap-highlight-color: transparent;
}

.displayImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offer {
  position: absolute;
  top: 10%;
  color: white;
  font-family: 'Montserrat';
  font-size: 3.5rem;
  width: 40%;
  margin: 3rem 0 0 5rem;
  line-height: normal;
  user-select: none;
}

.action {
  position: absolute;
  top: 73%;
  left: 5%;
  background-color: white;
  color: #182e43;
  border: none;
  border-radius: 20px;
  width: 9rem;
  height: 3rem;
  font-size: 1.2rem;
  user-select: none;
}

.action:hover {
  color: white;
  background-color: #386997;
}

.header {
  color: black;
  margin-left: 5rem;
  font-size: 2.2rem;
}

.notloaded {
  display: none;
}

@media only screen and (max-width: 500px) {
  /* For mobile: */
  .displayImage img {
    object-fit: fill;
    height: 50%;
  }

  .offer {
    font-size: 1rem;
    top: 0%;
    left: -18%;
    width: 50%;
  }

  .action {
    top: 30%;
    left: 3%;
    width: 5.2rem;
    height: 1.5rem;
    font-size: 13px;
  }

  .header {
    font-size: 1.3rem;
    margin: 10px 0 0 15px;
  }
}
