.displayImage {
  width: 100%;
  height: 20rem;
}

.displayImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offer {
  position: absolute;
  top: 10%;
  color: white;
  font-family: 'Montserrat';
  font-size: 3.5rem;
  width: 40%;
  margin: 5rem 0 0 5rem;
  line-height: normal;
}

.action {
  position: absolute;
  top: 45%;
  left: 5%;
  background-color: white;
  color: #182e43;
  border: none;
  border-radius: 20px;
  width: 9rem;
  height: 3rem;
  font-size: 1.2rem;
}

.action:hover {
  color: white;
  background-color: #386997;
}

.notloaded {
  display: none;
}
