.displayImage {
  position: relative;
  width: 100vw;
  height: 22rem;
  -webkit-tap-highlight-color: transparent;
}

.displayImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offer {
  position: absolute;
  top: 4%;
  left: 5%;
  color: white;
  font-family: 'Montserrat';
  font-size: 3.5rem;
  max-width: 50%;
  line-height: normal;
  user-select: none;
}

.action {
  position: absolute;
  top: 73%;
  left: 5%;
  background-color: white;
  color: #182e43;
  border: none;
  border-radius: 20px;
  width: 9rem;
  height: 3rem;
  font-size: 1.2rem;
  user-select: none;
}

.action:hover {
  color: white;
  background-color: #386997;
}

.notloaded {
  display: none;
}

@media only screen and (max-width: 786px) {
  /* For mobile: */
  .displayImage {
    height: 13rem;
  }
  .displayImage img {
    object-fit: fill;
  }

  .offer {
    font-size: 1.4rem;
    top: 9%;
    left: 4%;
    width: 54%;
  }

  .action {
    top: 54%;
    left: 3%;
    width: 5.2rem;
    height: 1.5rem;
    font-size: 13px;
  }

  .header {
    font-size: 1.3rem;
    margin: 10px 0 0 15px;
  }
}

@media only screen and (max-width: 1200px) {
  .offer {
    font-size: 2.5rem;
  }
  .action {
    top: 52%;
  }
}

@media only screen and (max-width: 786px) {
  .offer {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .offer {
    font-size: 1.2rem;
  }
}
