.productcard {
  display: flex;
  gap: 2rem;
  max-width: 100%;
  justify-self: center;
  margin: 1rem 3rem 1rem 0rem;
}

@media only screen and (max-width: 1000px) {
  .product {
    gap: 10rem;
  }
}
@media only screen and (max-width: 786px) {
  .productcard {
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
    max-width: 100%;
    justify-self: center;
    text-align: center;
    margin: 0;
    /* margin: 1rem 3rem 1rem 5rem; */
  }
}
