@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,700|Montserrat:400,500,600,700');
.navbar {
  display: flex;
  max-width: 90%;
  height: 5.5rem;
  margin: 0 auto;
  justify-content: center;
  justify-content: space-around;
  gap: 3rem;
  overflow-x: visible;
  align-items: center;
  /* min-width: 90vw; */
}

@media only screen and (max-width: 1200px) {
  .navbar {
    width: 90%;
    gap: 2rem;
  }
}

@media only screen and (max-width: 992px) {
  /* For tablets: */
  .navbar {
    justify-content: center;
    gap: 1rem;
  }
}
@media only screen and (max-width: 786px) {
  /* For mobile: */
  .navbar {
    height: 4.5rem;
    justify-content: space-between;
  }
}
