.hoverdiv {
  position: absolute;
  margin-top: 3rem;
  right: 63%;
  width: 14rem;
  height: 15rem;
  z-index: 99;
  background-color: rgb(250, 250, 250);
  animation: fadeIn 0.4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.hoverdiv ul {
  list-style: none;
  margin: 1.3rem 0 0 -1rem;
  font-size: 15px;
  font-weight: lighter;
  color: rgb(72, 72, 72);
}

.hoverdiv li:hover {
  color: black;
}

.hoverdiv li:not(:last-child) {
  margin-bottom: 10px;
}

@media only screen and (max-width: 786px) {
  .hoverdiv {
    right: 20%;
    border-radius: 20px;
  }
}
