.rating {
  display: flex;
  flex-flow: row;
}

.rating p {
  color: rgba(42, 42, 42, 0.611);
  font-weight: lighter;
  margin: 0 0 0 0.5rem;
}

.rating1 i:nth-child(1) {
  color: yellow;
}

.rating2 i:nth-child(1) {
  color: yellow;
}
.rating2 i:nth-child(2) {
  color: yellow;
}

.rating3 i:nth-child(1) {
  color: yellow;
}
.rating3 i:nth-child(2) {
  color: yellow;
}
.rating3 i:nth-child(3) {
  color: yellow;
}

.rating4 i {
  color: yellow;
}
.rating4 i:nth-child(5) {
  color: black;
}

.rating5 i {
  color: yellow;
}
